body, td{padding:5px; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 11px; font-weight: normal;color: #343434;}
img {border:0;}

a {color: #235EA7; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 11px; font-weight: normal; text-decoration: underline; cursor: pointer;}
a:hover  {color: #E90939; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 11px; font-weight: normal; text-decoration: underline; cursor: pointer;}

form {padding:0; margin:0}

.tblup {border: 1px solid #D1D3D9;

}

.tbl {}
.tbl td{
	vertical-align: top;
}

.thead {
    background-color:#dbdbdb;
}
.thead td {
	font-weight:bold;
}

.tbl .today{
	border: 2px solid #FFC2CF;

}

.tblin {

}
.tblin td{
	text-align: center;
	vertical-align: middle;

}

.widesel   {width: 99%; height: 15px; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 11px; color: #343434; border: 1px solid #D1D3D9;vertical-align:middle;}
.widesel2   {width: 99%; height: 100px; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 11px; color: #343434; border: 1px solid #D1D3D9;vertical-align:middle;}
.widesel3   {width: 99%; height: 50px; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 11px; color: #343434; border: 1px solid #D1D3D9;vertical-align:middle;}
.input02      {width: 40px; height: 17px; color: #343434; border: 1px solid #D1D3D9;font-size: 11px; font-weight: normal;color: #343434;font-family: Tahoma, Verdana, Arial, sans-serif;}
.input03      {
    width: 150px;
    height: 17px;
    color: #343434;
    border: 1px solid #000;
    font-size: 11px;
    font-weight: normal;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    background-color:#fff;
}
.input {
    width:99%;
    height: 17px;
    color: #343434;
    border: 1px solid #D1D3D9;
    font-size: 11px;
}
.textarea {
    width:99%;
    color: #343434;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    border: 1px solid #D1D3D9;
    font-size: 11px;
}
.inputdata01      {width: 30px; height: 17px; color: #343434; border: 1px solid #D1D3D9;font-size: 11px; font-weight: normal;color: #343434;font-family: Tahoma, Verdana, Arial, sans-serif;}
.inputdata02      {width: 60px; height: 17px; color: #343434; border: 1px solid #D1D3D9;font-size: 11px; font-weight: normal;color: #343434;font-family: Tahoma, Verdana, Arial, sans-seri;}
.unnamed122 {
    cursor:pointer;
}

#input, .button {
    font-size:11px;
}
#input {
    width:99%;
    background:#ffffff;
    border: 1px solid #D1D3D9;
}
.button {
    width:120px;
    background:#cccccc;
    border: 1px solid #000000;
}
