			<div class="podbor">
			
                              <form method=get>
<table cellspacing="0" cellpadding="0" class="both">
  <tr>
    <td class="left6">
	<p><strong>Выберите марку автомобиля:</strong></p>
    <p>%cars%</p>
	</td>
    <td class="right4">
<p><strong>Выберите группы интересующих Вас товаров: </strong></p>
<p>%categories%</p>  
<input type="image" src="/images/choose.gif" alt="Подобрать" />
	</td>
  </tr>
</table>
</form>
			</div>
                 <TABLE  height=10 cellSpacing=0 cellPadding=0 width="100%" border=0>
                 <TR>
                 <TD ><IMG height=10 src="/images/pix.gif" width=10 /></TD>
                 </TR>
                 </TABLE>

                 <TABLE  cellSpacing=0 cellPadding=0 width="100%" border=0>
                 <TR>
                 <TD  width=8><IMG height=8 src="/images/pix.gif" width=8 /></TD>

                 <TD  vAlign=top>
                 <TABLE  cellSpacing=1 cellPadding=5 width="100%" bgColor=#dcdde0 border=0>
                 <TR bgColor=#ffffff>
                 <TD  vAlign=top width="50%">
                 <TABLE  cellSpacing=0 cellPadding=10 width="100%" border=0>
                 <TR vAlign=top>
                 <TD  width=65>
                 <OBJECT codeBase=http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0 height=90 width=65 classid=clsid:D27CDB6E-AE6D-11cf-96B8-444553540000>
                 <PARAM NAME="_cx" VALUE="1720">
                 <PARAM NAME="_cy" VALUE="2381">
                 <PARAM NAME="FlashVars" VALUE="">
                 <PARAM NAME="Movie" VALUE="/images/carumbych.swf">
                 <PARAM NAME="Src" VALUE="/images/carumbych.swf">
                 <PARAM NAME="WMode" VALUE="Window">
                 <PARAM NAME="Play" VALUE="-1">
                 <PARAM NAME="Loop" VALUE="-1">
                 <PARAM NAME="Quality" VALUE="High">
                 <PARAM NAME="SAlign" VALUE="">
                 <PARAM NAME="Menu" VALUE="-1">
                 <PARAM NAME="Base" VALUE="">
                 <PARAM NAME="AllowScriptAccess" VALUE="always">
                 <PARAM NAME="Scale" VALUE="ShowAll">
                 <PARAM NAME="DeviceFont" VALUE="0">
                 <PARAM NAME="EmbedMovie" VALUE="0">
                 <PARAM NAME="BGColor" VALUE="">
                 <PARAM NAME="SWRemote" VALUE="">
                 <PARAM NAME="MovieData" VALUE="">
                 <embed src="/images/carumbych.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="65" height="90"></embed></OBJECT>
                 </TD>

                 <TD >
                 <P><STRONG>Теперь купить запчасти стало очень просто:</STRONG></P>

                 <UL>
                 <LI>Выберите марку Вашего авто</LI>

                 <LI>Отметьте галочками интересующие вас группы товаров</LI>

                 <LI>Нажмите на кнопку "подобрать"</LI>
                 </UL>
                 </TD>
                 </TR>
                 </TABLE>
                 </TD>
                 </TR>
                 </TABLE>
                 </TD>

                 <TD  width=8><IMG height=8 src="/images/pix.gif" width=8 /></TD>
                 </TR>
                 </TABLE>
