  <tr> 
    <td class="td%style%left"> <div class="inside"> 
        <div class="ditem"> 
          <div class="thumb"> <a href="%link%">%picture%</a> 
          </div>
          <div class="descr"> 
            <div class="in"> <a href="%link%"><strong>%title%</strong></a><br />
                                      <strong>Марка:</strong> %car_compatibility%<br/>
                                      <strong>Производитель:</strong> %producer%<br />
									  %props%
									  %bonus%
              <div class="price"> 
                <div class="numb">%price%</div>

                <div class="buy"> 
                  <div class="in"><form action=/ method=post style="margin: 0;"><input type="image" src="/images/buy.gif" alt="Купить" /><input type=hidden name=module value=Cart><input type=hidden name=function value=tocart><input type=hidden name=goodID value="%goodID%"></form></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div></td>
  </tr>
