			<div class="podbor">
                              <form method="get">
			
<table cellspacing="0" cellpadding="0" class="both">
  <tr>
    <td class="left6">
	<p><strong>Производитель:</strong></p>
%producers%
	</td>
    <td class="right4">
    %categories%<br/>
  <input type="image" src="/images/choose.gif" alt="Подобрать" />
	</td>
  </tr>
</table>
			</div>
<div class="blokinfo"> 
  <p><strong>Теперь подобрать товар стало очень просто:</strong></p>
<ul>
  <li> Отметьте галочками интересующих Вас производителей</li>
  <li>Отметьте галочками интересующие Вас категории</li>
  <li>Нажмите на кнопку "подобрать" </li>
</ul>
</form>

</div>
