<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="ru">
<head>
  <container type="inline" id="Head" />
  <link href="/css/carumba.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="http://www.carumba.ru/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="http://www.carumba.ru/favicon.ico" type="image/x-icon" />
  <script type="text/javascript" src="/js/carumba.js"></script>
  <meta http-equiv="content-type" content="text/html;charset=windows-1251" />
</head>
<body>
<div class="up_sale"><a href="http://www.carumba.ru/catalogue/autosound?c-1=6308"><img src="http://www.carumba.ru/images/phantom.jpg" alt="Штатные головные устройства" width="444" height="115" /></a></div>
  <div id="out">

    <div id="top">
      <div class="content">

							    <div class="upup">

											
        <div class="text"><a href="http://pda.carumba.ru">PDA-мобильная версия</a><img src="/images/br_l.gif"  alt="" width="10" height="29" style="vertical-align: middle;" /> 
          Авто-запчасти, запчасти ВАЗ, Тюнинг ВАЗ, ксенон, масла, шины, аккумуляторы, 
          автосигнализации, автозвук</div>

									
        <div class="fav"><img src="/images/br_r.gif"  alt="" width="10" height="29" style="vertical-align: middle;" /><a href="#" onclick="window.external.AddFavorite('http://www.carumba.ru/','Интернет-магазин авто-запчастей Карумба г. Санкт-Петербург');">Добавить в избранное</a> </div>

								</div>
      <table cellspacing="0" cellpadding="0" class="upmid ">
        <tr>
          <td class="left"><a href="/"><img src="/images/up_carumba.gif"  alt="Интернет-магазин авто-запчастей Карумба г. Санкт-Петербург" width="315" height="115" /></a></td>
          <td class="mid">&nbsp;</td>
          <td class="right"><a href="http://www.carumba.ru/carumba/contacts"><img src="/images/up_car.gif"  alt="Контакты" width="245" height="115" border="0" /></a></td>
        </tr>
      </table>


	  </div>
    </div>

<!-- <div class="bblok">
<object type="application/x-shockwave-flash" data="http://www.carumba.ru/images/open_b.swf" width="100%" height="110">
<param name="movie" value="http://www.carumba.ru/images/open_b.swf" /></object>
</div> -->

    <table id="main" cellspacing="0" cellpadding="0">
		<tr>
			<td id="left">
				<div class="content">

				  <div id="cat">Каталог:</div>
					<container id="MainMenu" depth="1" expanded="0" rootid="3" template="leftmenu2.xml" />
				  <div class="fix"><a href="#"></a></div>
				  <container id="Authentication" template="auth.xml" module="_service" function="authBlock" />
				  <div class="shadowg"></div>



				  <div id="club">Автоклуб:</div>

					<container id="MainMenu" depth="1" rootid="2" template="leftmenu3.xml" />

					<div id="icq">Консультант:</div>
						
          <div class="blok">Информационная помощь<br />
            в подборе оборудования<br />
            для Вашего автомобиля:<br />
            <br />
                        <img src="/images/icq.gif" style="vertical-align: middle;" height="18" width="18" alt="462-274-641" /> 
            <a href="http://wwp.icq.com/scripts/contact.dll?msgto=462274641">462-274-641</a> <br />
            <img src="/images/icq.gif" style="vertical-align: middle;" height="18" width="18" alt="251-600-094" /> 
            <a href="http://wwp.icq.com/scripts/contact.dll?msgto=251600094">251-600-094</a><br />
            <img src="/images/icq.gif" style="vertical-align: middle;" height="18" width="18" alt="350-514-800" /> 
            <a href="http://wwp.icq.com/scripts/contact.dll?msgto=350514800">350-514-800</a> 
            <br />
            <br />
            <img src="/images/phone.gif" align="left" height="28" width="15" alt="(812) 528-20-67" />&nbsp; 
            Заказ по телефону:<br />
            &nbsp; (812) <b>528-20-67</b> </div>
					<div class="shadowg"></div>


					<div id="subscribe">Рассылка:</div>
					<container id="Mail" module="Profile" function="subscribeBlock" />
					  <div class="shadowg"></div>

				</div>
			</td>
			<td id="centrcontents">
				<div class="content">
			<container id="TopMenu" template="navibar.xml" />


			 <table class="headertable" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="nnov_01"><img src="/images/pix.gif" width="10" height="8"  alt="" /></td>
                      <td class="nnov_02">&nbsp;</td>
                      <td class="nnov_03"><img src="/images/pix.gif" width="10" height="8"  alt="" /></td>
                    </tr>
                    <tr>
                      <td class="nnov_04">&nbsp;</td>
                      <td class="header"><h1>Авто-запчасти в интернет-магазине КАРУМБА</h1></td>
                      <td class="nnov_05">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="nnov_06">&nbsp;</td>
                      <td class="nnov_07">&nbsp;</td>
                      <td class="nnov_08">&nbsp;</td>
                    </tr>
           </table>

				      <div class="blok">
            <p>(<strong>3900</strong> / 4100 руб.) Цена выделенная жирным шрифтом  - цена обладателей карты автоклуба <a href="/main/club">Карумба.Ру</a>.</p>

						<p>(<span class="t_bonus">3000</span> / 4100 руб.) Цена выделенная зеленым, жирным шрифтом означает дополнительные скидки членам клуба.</p>

						<p>(<span class="t_salepr">3300</span> / <span class="t_old">4100</span> руб.) Цена выделенная красным цветом  распродается по хорошим ценам всем посетителям интернет-магазина Карумба.</p>

						<p>Обладатели карты автоклуба Карумба.Ру получают дополнительные скидки и бесплатную доставку по Санкт-Петербургу!</p>

						<p><strong>Доставка запчастей по  Санкт-Петербургу и России</strong> (оплата наличными, <a href="http://www.carumba.ru/carumba/corporate">безналичный расчет</a>, Я.Деньги, WMR и Сбербанк России).</p>

				      </div>

<table class="headertable" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="nnov_01"><img src="images/pix.gif" width="10" height="8"  alt="" /></td>
                      <td class="nnov_02"></td>
                      <td class="nnov_03"><img src="images/pix.gif" width="10" height="8"  alt="" /></td>
                    </tr>
                    <tr>
                      <td class="nnov_04sale"></td>
                      <td class="header"><h6>Распродажа</h6></td>
                      <td class="nnov_05"></td>
                    </tr>
                    <tr>
                      <td class="nnov_06"></td>
                      <td class="nnov_07"></td>
                      <td class="nnov_08"></td>
                    </tr>
                  </table>
<container id="Sale" module="Sale" function="getBlock" />

<table class="headertable" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="nnov_01"><img src="images/pix.gif" width="10" height="8"  alt="" /></td>
                      <td class="nnov_02"></td>
                      <td class="nnov_03"><img src="images/pix.gif" width="10" height="8"  alt="" /></td>
                    </tr>
                    <tr>
                      <td class="nnov_04bonus"></td>
                      <td class="header"><h5>Спецпредложение для членов автоклуба</h5></td>
                      <td class="nnov_05"></td>
                    </tr>
                    <tr>
                      <td class="nnov_06"></td>
                      <td class="nnov_07"></td>
                      <td class="nnov_08"></td>
                    </tr>
                  </table>
<container id="Bonus" module="Bonus" function="getBlock" />

<table class="headertable" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="nnov_01"><img src="images/pix.gif" width="10" height="8"  alt="" /></td>
                      <td class="nnov_02"></td>
                      <td class="nnov_03"><img src="images/pix.gif" width="10" height="8"  alt="" /></td>
                    </tr>
                    <tr>
                      <td class="nnov_04bonus"></td>
                      <td class="header"><h5>Новинки</h5></td>
                      <td class="nnov_05"></td>
                    </tr>
                    <tr>
                      <td class="nnov_06"></td>
                      <td class="nnov_07"></td>
                      <td class="nnov_08"></td>
                    </tr>
                  </table>

<container id="News" module="News" function="newsBlock" newsCount="7" newsLineID="33" template="wide_newsblock.xml" />



				</div>
<div class="rasporka"><img src="/images/pix.gif" width="600" height="1"  alt="" /></div>
			</td>
			<td id="right">
				<div class="content">
					<container id="Cart" module="Cart" function="cartBlock" template="cartblock.xml" />
					<a href="/main/club"><img src="/images/club.gif" width="175" height="98"  alt="Автоклуб КАРУМБА (скидки, бонусы)" /></a><br />

					<div id="vote">Голосование:</div>
					<div class="blok">
						<container id="Vote" module="Vote" function="getBlock"/>
					</div>
					<div class="shadoww"></div>

					<container id="Banner" module="Banner" function="getBlock"/>

					<container id="RightNews" module="News" function="newsBlock" newsCount="3" newsLineID="23" template="newsblock.xml" />
					<div class="shadoww"></div>

				</div>

			</td>
		</tr>
    </table>


  </div>
  <div id="bottom">
    <div class="content">
	2006-2008 &copy; КАРУМБА - Автозапчасти Санкт-Петербурга, интернет-магазин. Использование любых материалов без разрешения владельцев сайта запрещено.
<container id="TopMenu" depth="1" expanded="0" rootid="22" template="topmenu1.xml" />
	      <div class="search">
		 <form action="/search/" method="get" accept-charset="windows-1251"><p>
			 <input type="text" name="searchtext" class="input01" value=" Поиск" onblur="writeVal(this, ' Поиск'); return false;" onfocus="clearVal(this, ' Поиск'); return false;" />
			 <input type="image" src="/images/search_butt.gif" class="search_butt" alt="Искать" /></p>
			</form>
		</div>

	<br />
	<a href="http://www.xenonium.ru/" class="linkus"> Ксенон</a>, <a href="http://www.varta-bosch.spb.ru/" class="linkus"> Аккумуляторы Varta и Bosch в Санкт-Петербурге</a>, <a href="http://www.car-security.spb.ru/" class="linkus"> Установка автосигнализаций</a>
	<script type="text/javascript" src="/js/counter.js"></script>
	<noscript><div><img src="http://www.carumba.ru/stat/cntg.php?468&amp;c=0" width="1" height="1" alt="" /></div></noscript>
	</div>

	<a href="http://plastema.spb.ru" id="plastema" title="Дизайн сайтов в Санкт-Петербурге"></a>

  </div>
</body>
</html>
