<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="ru">
<head>
  <container type="inline" id="Head" />
  <link href="/css/carumba.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="http://www.carumba.ru/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="http://www.carumba.ru/favicon.ico" type="image/x-icon" />
  <script type="text/javascript" src="/js/carumba.js"></script>
  <script type="text/javascript" src="/twist/swfobject.js"></script>
  <style type="text/css">
	#flashcontent {
		height: 100%;
	}
   </style>  
  <meta http-equiv="content-type" content="text/html;charset=windows-1251" />
<meta name='yandex-verification' content='41c30576a70bc881' />
</head>
<body>
<div class="up_sale"><a href="http://www.carumba.ru/catalogue/vin-order-gem"><img src="http://www.carumba.ru/images/germ.jpg" alt="Запчасти для немецких автомобилей (Mercedes, BMW, VW, Audi)" width="444" height="115" /></a></div>
  <div id="out">

    <div id="top">
      <div class="content">

							    <div class="upup">

											
        <div class="text"><a href="http://pda.carumba.ru">PDA-мобильная версия</a><img src="/images/br_l.gif"  alt="" width="10" height="29" style="vertical-align: middle;" /> 
          Авто-запчасти, тюнинг и запчасти Мерседес, BMW, запчасти ВАЗ, шины, 
          автомагнитолы, аккумуляторы, автосигнализации</div>

									
        <div class="fav"><img src="/images/br_r.gif"  alt="" width="10" height="29" style="vertical-align: middle;" /><a href="#" onclick="window.external.AddFavorite('http://www.carumba.ru/','Интернет-магазин авто-запчастей Карумба г. Санкт-Петербург');">Добавить в избранное</a> </div>

								</div>
      <table cellspacing="0" cellpadding="0" class="upmid ">
        <tr>
          <td class="left"><a href="/"><img src="/images/up_carumba.gif"  alt="Интернет-магазин авто-запчастей Карумба г. Санкт-Петербург" width="315" height="115" /></a></td>
          <td class="mid">&nbsp;</td>
          <td class="right"><a href="http://www.carumba.ru/carumba/contacts"><img src="/images/up_car.gif"  alt="Контакты" width="245" height="115" border="0" /></a></td>
        </tr>
      </table>


	  </div>
    </div>

    <table id="main" cellspacing="0" cellpadding="0">
		<tr>
			<td id="left">
				<div class="content">

				  <div id="cat">Каталог:</div>
					<container id="MainMenu" depth="1" expanded="0" rootid="3" template="leftmenu2.xml" />
				  <div class="fix"><a href="#"></a></div>
				  <container id="Authentication" template="auth.xml" module="_service" function="authBlock" />
				  <div class="shadowg"></div>



				  <div id="club">Автоклуб:</div>

					<container id="MainMenu" depth="1" rootid="2" template="leftmenu3.xml" />

					<div id="icq">Консультант:</div>
						
          <div class="blok"> 
            <p>Информационная помощь<br />
              в подборе оборудования<br />
              для Вашего автомобиля:<br />
              <br />
              <img src="/images/icq.gif" style="vertical-align: middle;" height="18" width="18" alt="475-821-575" /> 
              <a href="http://wwp.icq.com/scripts/contact.dll?msgto=475821575">475-821-575</a> 
              <br />
              <img src="/images/icq.gif" style="vertical-align: middle;" height="18" width="18" alt="395-303-546" /> 
              <a href="http://wwp.icq.com/scripts/contact.dll?msgto=395303546">395-303-546</a> 
              <br />
              <img src="/images/icq.gif" style="vertical-align: middle;" height="18" width="18" alt="251-600-094" /> 
              <a href="http://wwp.icq.com/scripts/contact.dll?msgto=251600094">251-600-094</a><br />
              <img src="/images/icq.gif" style="vertical-align: middle;" height="18" width="18" alt="350-514-800" /> 
              <a href="http://wwp.icq.com/scripts/contact.dll?msgto=350514800">350-514-800</a> 
              <br />
              <img src="/images/phone.gif" align="left" height="28" width="15" alt="(812) 528-20-67" />&nbsp; 
              Заказ по телефону:<br />
              &nbsp; (812) <b>528-20-67</b> </p>
            <p><strong>Немецкие запчасти</strong></p>
            <p> <img src="/images/icq.gif" style="vertical-align: middle;" height="18" width="18" alt="573-665-369" /> 
              <a href="http://wwp.icq.com/scripts/contact.dll?msgto=573665369">573-665-369</a> 
              <br />
              <img src="/images/phone.gif" align="left" height="28" width="15" alt="(812) 528-20-67" />&nbsp; 
              Заказ по телефону:<br />
              &nbsp; 8 (931) 213-37-90 </p>
          </div>
					<div class="shadowg"></div><a href="/carumba/corporate"><img src="/images/corporate.jpg" width="155" height="225"  alt="Корпоративным клиентам" /></a><br />


					<div id="subscribe">Рассылка:</div>
					<container id="Mail" module="Profile" function="subscribeBlock" />
					  <div class="shadowg"></div>

				</div>
			</td>
			<td id="centrcontents">
				<div class="content">
			<container id="TopMenu" template="navibar.xml" />


			 <table class="headertable" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="nnov_01"><img src="/images/pix.gif" width="10" height="8"  alt="" /></td>
                      <td class="nnov_02">&nbsp;</td>
                      <td class="nnov_03"><img src="/images/pix.gif" width="10" height="8"  alt="" /></td>
                    </tr>
                    <tr>
                      <td class="nnov_04">&nbsp;</td>
                      <td class="header"><h1>Авто-запчасти в интернет-магазине КАРУМБА</h1></td>
                      <td class="nnov_05">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="nnov_06">&nbsp;</td>
                      <td class="nnov_07">&nbsp;</td>
                      <td class="nnov_08">&nbsp;</td>
                    </tr>
           </table>
<div class="blok1">
	<div id="flashcontent">
		You need to upgrade your Flash Player to version 9.x from <a href="http://www.adobe.com/go/getflashplayer">Adobe site</a>.
	</div>

	<script type="text/javascript">
		// <![CDATA[
		var so = new SWFObject("/twist/PictureTwist.swf", "PictureTwist", "100%", "192", "9");
		so.useExpressInstall("/twist/expressinstall.swf");
		so.write("flashcontent");
		// ]]>
	</script>
	</div>
<table class="headertable" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="nnov_01"><img src="images/pix.gif" width="10" height="8"  alt="" /></td>
                      <td class="nnov_02"></td>
                      <td class="nnov_03"><img src="images/pix.gif" width="10" height="8"  alt="" /></td>
                    </tr>
                    <tr>
                      <td class="nnov_04sale"></td>
                      <td class="header"><h6>Распродажа</h6></td>
                      <td class="nnov_05"></td>
                    </tr>
                    <tr>
                      <td class="nnov_06"></td>
                      <td class="nnov_07"></td>
                      <td class="nnov_08"></td>
                    </tr>
                  </table>
<container id="Sale" module="Sale" function="getBlock" />

<table class="headertable" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="nnov_01"><img src="images/pix.gif" width="10" height="8"  alt="" /></td>
                      <td class="nnov_02"></td>
                      <td class="nnov_03"><img src="images/pix.gif" width="10" height="8"  alt="" /></td>
                    </tr>
                    <tr>
                      <td class="nnov_04bonus"></td>
                      <td class="header"><h5>Спецпредложение для членов автоклуба</h5></td>
                      <td class="nnov_05"></td>
                    </tr>
                    <tr>
                      <td class="nnov_06"></td>
                      <td class="nnov_07"></td>
                      <td class="nnov_08"></td>
                    </tr>
                  </table>
<container id="Bonus" module="Bonus" function="getBlock" />
<table class="headertable" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="nnov_01"><img src="images/pix.gif" width="10" height="8"  alt="" /></td>
                      <td class="nnov_02"></td>
                      <td class="nnov_03"><img src="images/pix.gif" width="10" height="8"  alt="" /></td>
                    </tr>
                    <tr>
                      <td class="nnov_04"></td>
                      <td class="header"><h1>Новинки</h1></td>
                      <td class="nnov_05"></td>
                    </tr>
                    <tr>
                      <td class="nnov_06"></td>
                      <td class="nnov_07"></td>
                      <td class="nnov_08"></td>
                    </tr>
                  </table>
<container id="New1" module="New1" function="getBlock" />

<table class="headertable" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="nnov_01"><img src="images/pix.gif" width="10" height="8"  alt="" /></td>
                      <td class="nnov_02"></td>
                      <td class="nnov_03"><img src="images/pix.gif" width="10" height="8"  alt="" /></td>
                    </tr>
                    <tr>
                      <td class="nnov_04"></td>
                      <td class="header"><h1>Хиты продаж</h1></td>
                      <td class="nnov_05"></td>
                    </tr>
                    <tr>
                      <td class="nnov_06"></td>
                      <td class="nnov_07"></td>
                      <td class="nnov_08"></td>
                    </tr>
                  </table>
<container id="Xit" module="Xit" function="getBlock" />


			 <table class="headertable" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="nnov_01"><img src="/images/pix.gif" width="10" height="8"  alt="" /></td>
                      <td class="nnov_02"></td>
                      <td class="nnov_03"><img src="/images/pix.gif" width="10" height="8"  alt="" /></td>
                    </tr>
                    <tr>
                      <td class="nnov_04"></td>
                      <td class="header"><h1>Обзоры и статьи</h1></td>
                      <td class="nnov_05"></td>
                    </tr>
                    <tr>
                      <td class="nnov_06"></td>
                      <td class="nnov_07"></td>
                      <td class="nnov_08"></td>
                    </tr>
           </table>

<container id="News" module="News" function="newsBlock" newsCount="7" newsLineID="33" template="wide_newsblock.xml" />



				</div>
<div class="rasporka"><img src="/images/pix.gif" width="600" height="1"  alt="" /></div>
			</td>
			<td id="right">
				<div class="content">
					<container id="Cart" module="Cart" function="cartBlock" template="cartblock.xml" />
					<div class="blok">
						<p>Цена выделенная <strong>жирным</strong> для членов <a href="http://www.carumba.ru/main/club">автоклуба</a>:<br />
						  (<strong>3900</strong> / 4100 руб.) </p>
						<p>Спецпредложения зеленым:<br />
						  (<span class="t_bonus">3000</span> / 4100 руб.) </p>
						Распродажа красным:<br />
						  (<span class="t_salepr">3300</span> / <span class="t_old">4100</span> руб.)
					</div><div class="shadoww"></div>
					<a href="/main/club"><img src="/images/club.gif" width="175" height="98"  alt="Автоклуб КАРУМБА (скидки, бонусы)" /></a><br />

					<div id="vote">Голосование:</div>
					<div class="blok">
						<container id="Vote" module="Vote" function="getBlock"/>
					</div>
					<div class="shadoww"></div>

					<container id="Banner" module="Banner" function="getBlock"/>

					<container id="RightNews" module="News" function="newsBlock" newsCount="3" newsLineID="23" template="newsblock.xml" />
					<div class="shadoww"></div>
          <a href="/carumba/news/6338"><img src="http://www.carumba.ru/images/cards.gif" alt="Оплата банковскими картами Visa и MasterCard!" width="175" height="150" border="0" /></a> 
        </div>

			</td>
		</tr>
    </table>


  </div>
  <div id="bottom">
    <div class="content">
	2006-2009 &copy; КАРУМБА - Автозапчасти Санкт-Петербурга, интернет-магазин. Использование любых материалов без разрешения владельцев сайта запрещено.
<container id="TopMenu" depth="1" expanded="0" rootid="22" template="topmenu1.xml" />
	      <div class="search">
		 <form action="/search/" method="get" accept-charset="windows-1251"><p>
			 <input type="text" name="searchtext" class="input01" value=" Поиск" onblur="writeVal(this, ' Поиск'); return false;" onfocus="clearVal(this, ' Поиск'); return false;" />
			 <input type="image" src="/images/search_butt.gif" class="search_butt" alt="Искать" /></p>
			</form>
		</div>

	<br />
	<a href="http://www.germany-parts.spb.ru/" class="linkus">Запчасти мерседес</a>, <a href="http://www.xenonium.ru/" class="linkus"> Ксенон</a>, <a href="http://www.varta-bosch.spb.ru/" class="linkus"> Аккумуляторы Varta и Bosch</a>, <a href="http://www.car-security.spb.ru/" class="linkus"> Установка автосигнализаций</a>
	<script type="text/javascript" src="/js/counter.js"></script>
	<noscript><div><img src="http://www.carumba.ru/stat/cntg.php?468&amp;c=0" width="1" height="1" alt="" /></div></noscript>
	</div>

	<a href="http://plastema.spb.ru" id="plastema" title="Дизайн сайтов в Санкт-Петербурге"></a>

  </div>
</body>
</html>
