<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="ru">
<head>
  <container type="inline" id="Head" />
  <link href="/css/print.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/js/carumba.js"></script>
  <link rel="icon" href="http://www.carumba.ru/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="http://www.carumba.ru/favicon.ico" type="image/x-icon" />
  <meta http-equiv="content-type" content="text/html;charset=windows-1251" />
</head>
<body>

<div class="print_up">
<div class="upt"><img src="/images/simple_logo2.gif" alt="Карумба.Ру" width="256" height="56" align="left" />Контакты в Санкт-Петербурге:<br />тел.: 8 (812) <strong>528-20-67</strong><br />e-mail: sales@carumba.ru<br />http://www.carumba.ru</div>
    <table id="main" cellspacing="0" cellpadding="0">
		<tr>
			<td id="centrcontents">
				<div class="content">
			 		<table class="headertable" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="nnov_01"><img src="/images/pix.gif" width="10" height="8"  alt="" /></td>
                      <td class="nnov_02"></td>
                      <td class="nnov_03"><img src="/images/pix.gif" width="10" height="8"  alt="" /></td>
                    </tr>
                    <tr>
                      <td class="nnov_04"></td>
                      <td class="header"><h1><container id="MainTitle" module="_service" function="getPageTitle" /></h1></td>
                      <td class="nnov_05"></td>
                    </tr>
                    <tr>
                      <td class="nnov_06"></td>
                      <td class="nnov_07"></td>
                      <td class="nnov_08"></td>
                    </tr>
           </table>

<container id="MainContent" type="MainContent" />
</div><div class="ram">2006-2008 © КАРУМБА - Автозапчасти Санкт-Петербурга, интернет-магазин.<br />
Использование любых материалов без разрешения владельцев сайта запрещено. </div>

</td></tr></table>

</div></div>
</body>
</html>
