<container>
<script language="javascript">
function openPopupWindow (formURL, width, height)
{
  var Left = (screen.width - width) / 2;
  var Top = (screen.height - height) / 2;
  window.open(formURL,"","toolbar=0, scrollbars=yes,location=0,status=0,menubar=0,width="+width+",height="+height+",border=1,resizable=yes,left="+Left+",top="+Top);  
};

</script>

            <div class="podbor">
                <table cellspacing="0" cellpadding="0" class="both">
                    <tr>
                    <td class="leftpodr">
                 <table class="podpic" cellpadding="0" cellspacing="0">
                    <tr> 
                      <td class="pod_01"><img src="/images/pix.gif" width="15" height="15"  alt="" /></td>
                      <td class="pod_02">&nbsp;</td>
                      <td class="pod_03"><img src="/images/pix.gif" width="15" height="15"  alt="" /></td>
                    </tr>
                    <tr> 
                      <td class="pod_04">&nbsp;</td>
                      <td class="pic"><img src="%image%" width="200" height="200"  alt="%plant_name%" /></td>
                      <td class="pod_05">&nbsp;</td>
                    </tr>
                    <tr> 
                      <td class="pod_06">&nbsp;</td>
                      <td class="pod_07">&nbsp;</td>
                      <td class="pod_08">&nbsp;</td>
                    </tr>
               </table><br />
               %print%
               %ref%               
                        </td>
                        <td class="rightpodr"><div class="podbor">%content%<br /><ul><li><a href="%url%?products=1">Посмотреть все товары %plant_name%</a></li></ul></div></td>
                      </tr>
                </table>
            </div>
</container>

<print>
<div class="separate">
<img src="/images/print.gif" width="25" height="19"  alt="" class="zoom_butt" /> - <a style="cursor: pointer" class="buttonlink" target="_blanc" %link%>Версия для печати</a>
</div>
</print>

<ref>
<div class="separate">
<img src="/images/mail.gif" width="25" height="19"  alt="" class="zoom_butt" /> - <a style="cursor: pointer" class="buttonlink" onClick="openPopupWindow('%link%', 337, 279); return false;">Отправить ссылку другу</a>
</div>
</ref>

