<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Анкета пользователя 2001</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<link href="orders.css" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#F6F6F7">
<table width="500" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="tblup">
  <tr> 
    <td width="202"><img src="images/carumba.gif" width="202" height="44"></td>
    <td align="right"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td align="right">Номер пользователя (карты):</td>
          <td width="50"><strong><font color="#009966">2001</font></strong></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
<table width="500" border="0" cellpadding="5" cellspacing="1" bgcolor="C6C6C6">
  <tr bgcolor="#FFFFFF"> 
    <td width="150" align="right">E-mail:</td>
    <td>san@carumba.ru</td>
  </tr>
  <tr bgcolor="#F6F6F6"> 
    <td align="right">Фамилия: </td>
    <td>Art</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td align="right">Имя:</td>
    <td>San</td>
  </tr>
  <tr bgcolor="#F6F6F6"> 
    <td align="right">Отчество:</td>
    <td>-</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td align="right">Контактный телефон: </td>
    <td bgcolor="#FFFFFF">8 (921) 632-8999</td>
  </tr>
  <tr bgcolor="#F6F6F6"> 
    <td align="right">Регион: </td>
    <td>Санкт-Петербург</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td align="right">Город:</td>
    <td>Санкт-Петербург</td>
  </tr>
  <tr bgcolor="#F6F6F6"> 
    <td align="right">Адрес текущей доставки:</td>
    <td>пр. Большевиков д. 8, корп. 1, кв. 158</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td align="right">Ваш автомобиль:</td>
    <td>ВАЗ 2104</td>
  </tr>
</table>
</body>
</html>
