<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>История дат заказа № 585</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<link href="orders.css" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#F6F6F7">
<table width="500" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="tblup">
  <tr> 
    <td width="202"><img src="images/carumba.gif" width="202" height="44"></td>
    <td align="right"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td align="right">Номер заказа:</td>
          <td width="50"><strong>585</strong></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
<table width="500" border="0" cellpadding="5" cellspacing="1" bgcolor="C6C6C6">
  <tr bgcolor="#FFFFFF"> 
    <td align="right">Новый</td>
    <td>21.07.2006 | 18:20 </td>
  </tr>
  <tr bgcolor="#F6F6F6"> 
    <td width="150" align="right">Принятый</td>
    <td>22.07.2006 | 11:20 </td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td align="right">Подтвержденный</td>
    <td>22.07.2006 | 13:20 </td>
  </tr>
  <tr bgcolor="#F6F6F6"> 
    <td align="right"><strong>Собранный</strong></td>
    <td><strong>23.07.2006 | 15:20 </strong></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td align="right">Оплаченный</td>
    <td bgcolor="#FFFFFF">-</td>
  </tr>
  <tr bgcolor="#F6F6F6"> 
    <td align="right">Закрытый</td>
    <td>-</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td align="right">Отказ</td>
    <td>-</td>
  </tr>
</table>
</body>
</html>
