<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title> 	Дата поставки заказа № 585</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<link href="orders.css" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#F6F6F7">
<table width="500" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="tblup">
  <tr> 
    <td width="202"><img src="images/carumba.gif" width="202" height="44"></td>
    <td align="right"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td align="right">Номер заказа:</td>
          <td width="50"><strong>585</strong></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
<table width="500" border="0" cellpadding="5" cellspacing="1" bgcolor="C6C6C6">
  <tr> 
    <td width="35" bgcolor="#DBDBDB">День</td>
    <td width="35" bgcolor="#DBDBDB">Месяц</td>
    <td width="35" bgcolor="#DBDBDB">Год</td>
    <td bgcolor="#DBDBDB">&nbsp;</td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><p> 
        <input name="gc601" class="input02" value="23" type="text">
      </p>
      </td>
    <td><input name="gc6012" class="input02" value="07" type="text"></td>
    <td><input name="gc6013" class="input02" value="2006" type="text"></td>
    <td><a href="#">Назначить</a></td>
  </tr>
</table>
</body>
</html>
