<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Заказы Запчастей</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<link href="orders.css" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#F6F6F7">
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="tblup">
  <tr> 
    <td><strong>Заказы общие </strong>|<strong> </strong><a href="#">Заказ на 
      иномарки (VIN)</a></td>
    <td width="25"><a href="#">Выход</a></td>
  </tr>
</table>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="tblup">
  <tr>
    <td width="202"><img src="images/carumba.gif" width="202" height="44"></td>
    <td><table width="100%" height="44" border="0" cellpadding="5" cellspacing="5" bgcolor="#FFFFFF" class="tblin">
        <tr bgcolor="#DBDBDB"> 
          <td width="16%"><strong>Новые<br>
            </strong> (10)</td>
          <td width="14%"><a href="#">Принятые<br>
            </a>(10)</td>
          <td width="14%"><a href="orders_active.html">Подтвержденные</a><br>
            (10) </td>
          <td width="14%"><a href="#">Собранные</a><br>
            (10) </td>
          <td width="14%"><a href="#">Оплаченные</a><br>
            (10) </td>
          <td width="14%"><a href="#">Закрытые</a><br>
            (10) </td>
          <td width="14%"><a href="#">Отказ</a><br>
            (10) </td>
        </tr>
      </table></td>
  </tr>
</table>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="tblup">
  <tr>
    <td>Страницы: 1 - <a href="#">2</a></td>
    <td width="50"><a href="#">Обновить</a></td>
  </tr>
</table>
<br>
<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#C6C6C6" class="tbl">
  <tr bgcolor="#DBDBDB"> 
    <td><strong>№ заказа</strong></td>
    <td><strong> № п-ля</strong></td>
    <td bgcolor="#DBDBDB"><strong>Инф. п-ля</strong></td>
    <td bgcolor="#DBDBDB"><strong>Перечень заказа</strong></td>
    <td><strong>Дата статуса</strong></td>
    <td><strong>Дата поставки</strong></td>
    <td><strong>Предоплата</strong></td>
    <td><strong>Ответ на заказ</strong></td>
    <td><strong>Статус карты</strong></td>
    <td><strong>Статус заказа</strong></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#FFFFFF"><strong><font color="#009966">585</font></strong></td>
    <td><strong><font color="#009966">2001</font></strong><br> </td>
    <td> <a href="_anketa.html">Анкета</a></td>
    <td bgcolor="#FFFFFF"><p> <a href="_look_order.html">Посмотреть</a><br>
        2 товара</p></td>
    <td bgcolor="#FFFFFF"> <a href="_data.html">История дат</a> <br>
      21.07.2006 | 18:20 </td>
    <td> <a href="_data_postavki.html">Назначить</a></td>
    <td><p> <a href="_pre.htm">Изменить</a><br>
        0 руб. </p></td>
    <td><a href="_answ.html">Послать</a><br>
      <a href="_answ_read.html">Читать</a></td>
    <td><select name="select" class="widesel">
        <option>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option selected>Отдана</option>
      </select></td>
    <td><select name="select2" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#F6F6F6"> 
    <td>584</td>
    <td>10001<br> </td>
    <td> <a href="#">Анкета</a></td>
    <td bgcolor="#F6F6F6"><p> <a href="#">Посмотреть</a><br>
        3 товара</p></td>
    <td> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td bgcolor="#F6F6F6"> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select3" class="widesel">
        <option selected>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select6" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#FFFFFF">583</td>
    <td bgcolor="#FFFFFF">10025<br> </td>
    <td bgcolor="#FFFFFF"> <a href="#">Анкета</a></td>
    <td bgcolor="#FFFFFF"><p> <a href="#">Посмотреть</a><br>
        3 товара</p></td>
    <td bgcolor="#FFFFFF"> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select4" class="widesel">
        <option selected>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select7" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#F6F6F6"> 
    <td>582</td>
    <td>10064<br> </td>
    <td> <a href="#">Анкета</a></td>
    <td><p> <a href="#">Посмотреть</a><br>
        3 товара</p></td>
    <td> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select5" class="widesel">
        <option>Нет</option>
        <option selected>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select8" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#FFFFFF">581</td>
    <td bgcolor="#FFFFFF">10038<br> </td>
    <td bgcolor="#FFFFFF"> <a href="#">Анкета</a></td>
    <td bgcolor="#FFFFFF"><p> <a href="#">Посмотреть</a><br>
        3 товара</p></td>
    <td bgcolor="#FFFFFF"> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select4" class="widesel">
        <option selected>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select9" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
</table>
<br>
<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#C6C6C6" class="tbl">
  <tr bgcolor="#DBDBDB"> 
    <td><strong>№ заказа</strong></td>
    <td><strong> № п-ля</strong></td>
    <td><strong>Инф. п-ля</strong></td>
    <td bgcolor="#DBDBDB"><strong>Перечень заказа</strong></td>
    <td><strong>Дата статуса</strong></td>
    <td><strong>Дата поставки</strong></td>
    <td><strong>Предоплата</strong></td>
    <td><strong>Ответ на заказ</strong></td>
    <td><strong>Статус карты</strong></td>
    <td><strong>Статус заказа</strong></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#FFFFFF"><strong><font color="#009966">585</font></strong></td>
    <td><strong><font color="#009966">2001</font></strong><br> </td>
    <td> <a href="#">Анкета</a></td>
    <td bgcolor="#FFFFFF"><p> <a href="#">Посмотреть</a><br>
        2 товара </p></td>
    <td> <a href="#">История дат</a> <br>
      21.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        0 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select12" class="widesel">
        <option>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option selected>Отдана</option>
      </select></td>
    <td><select name="select12" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#F6F6F6"> 
    <td>584</td>
    <td>10001<br> </td>
    <td> <a href="#">Анкета</a></td>
    <td><p> <a href="#">Посмотреть</a><br>
        3 товара </p></td>
    <td> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select12" class="widesel">
        <option selected>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select12" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#FFFFFF">583</td>
    <td bgcolor="#FFFFFF">10025<br> </td>
    <td bgcolor="#FFFFFF"> <a href="#">Анкета</a></td>
    <td bgcolor="#FFFFFF"><p> <a href="#">Посмотреть</a><br>
        3 товара </p></td>
    <td bgcolor="#FFFFFF"> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select12" class="widesel">
        <option selected>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select12" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#F6F6F6"> 
    <td>582</td>
    <td>10064<br> </td>
    <td> <a href="#">Анкета</a></td>
    <td><p> <a href="#">Посмотреть</a><br>
        3 товара </p></td>
    <td> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select12" class="widesel">
        <option>Нет</option>
        <option selected>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select12" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#FFFFFF">581</td>
    <td bgcolor="#FFFFFF">10038<br> </td>
    <td bgcolor="#FFFFFF"> <a href="#">Анкета</a></td>
    <td bgcolor="#FFFFFF"><p> <a href="#">Посмотреть</a><br>
        3 товара </p></td>
    <td bgcolor="#FFFFFF"> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select12" class="widesel">
        <option selected>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select12" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
</table>
<br>
<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#C6C6C6" class="tbl">
  <tr bgcolor="#DBDBDB"> 
    <td><strong>№ заказа</strong></td>
    <td><strong> № п-ля</strong></td>
    <td><strong>Инф. п-ля</strong></td>
    <td bgcolor="#DBDBDB"><strong>Перечень заказа</strong></td>
    <td><strong>Дата статуса</strong></td>
    <td><strong>Дата поставки</strong></td>
    <td><strong>Предоплата</strong></td>
    <td><strong>Ответ на заказ</strong></td>
    <td><strong>Статус карты</strong></td>
    <td><strong>Статус заказа</strong></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#FFFFFF"><strong><font color="#009966">585</font></strong></td>
    <td><strong><font color="#009966">2001</font></strong><br> </td>
    <td> <a href="#">Анкета</a></td>
    <td bgcolor="#FFFFFF"><p> <a href="#">Посмотреть</a><br>
        2 товара </p></td>
    <td> <a href="#">История дат</a> <br>
      21.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        0 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select13" class="widesel">
        <option>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option selected>Отдана</option>
      </select></td>
    <td><select name="select13" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#F6F6F6"> 
    <td>584</td>
    <td>10001<br> </td>
    <td> <a href="#">Анкета</a></td>
    <td><p> <a href="#">Посмотреть</a><br>
        3 товара </p></td>
    <td> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select13" class="widesel">
        <option selected>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select13" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#FFFFFF">583</td>
    <td bgcolor="#FFFFFF">10025<br> </td>
    <td bgcolor="#FFFFFF"> <a href="#">Анкета</a></td>
    <td bgcolor="#FFFFFF"><p> <a href="#">Посмотреть</a><br>
        3 товара </p></td>
    <td bgcolor="#FFFFFF"> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select13" class="widesel">
        <option selected>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select13" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#F6F6F6"> 
    <td>582</td>
    <td>10064<br> </td>
    <td> <a href="#">Анкета</a></td>
    <td><p> <a href="#">Посмотреть</a><br>
        3 товара </p></td>
    <td> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select13" class="widesel">
        <option>Нет</option>
        <option selected>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select13" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#FFFFFF">581</td>
    <td bgcolor="#FFFFFF">10038<br> </td>
    <td bgcolor="#FFFFFF"> <a href="#">Анкета</a></td>
    <td bgcolor="#FFFFFF"><p> <a href="#">Посмотреть</a><br>
        3 товара </p></td>
    <td bgcolor="#FFFFFF"> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select13" class="widesel">
        <option selected>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select13" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
</table>
<br>
<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#C6C6C6" class="tbl">
  <tr bgcolor="#DBDBDB"> 
    <td><strong>№ заказа</strong></td>
    <td><strong> № п-ля</strong></td>
    <td><strong>Инф. п-ля</strong></td>
    <td bgcolor="#DBDBDB"><strong>Перечень заказа</strong></td>
    <td><strong>Дата статуса</strong></td>
    <td><strong>Дата поставки</strong></td>
    <td><strong>Предоплата</strong></td>
    <td><strong>Ответ на заказ</strong></td>
    <td><strong>Статус карты</strong></td>
    <td><strong>Статус заказа</strong></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#FFFFFF"><strong><font color="#009966">585</font></strong></td>
    <td><strong><font color="#009966">2001</font></strong><br> </td>
    <td> <a href="#">Анкета</a></td>
    <td bgcolor="#FFFFFF"><p> <a href="#">Посмотреть</a><br>
        2 товара </p></td>
    <td> <a href="#">История дат</a> <br>
      21.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        0 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select14" class="widesel">
        <option>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option selected>Отдана</option>
      </select></td>
    <td><select name="select14" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#F6F6F6"> 
    <td>584</td>
    <td>10001<br> </td>
    <td> <a href="#">Анкета</a></td>
    <td><p> <a href="#">Посмотреть</a><br>
        3 товара </p></td>
    <td> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select14" class="widesel">
        <option selected>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select14" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#FFFFFF">583</td>
    <td bgcolor="#FFFFFF">10025<br> </td>
    <td bgcolor="#FFFFFF"> <a href="#">Анкета</a></td>
    <td bgcolor="#FFFFFF"><p> <a href="#">Посмотреть</a><br>
        3 товара </p></td>
    <td bgcolor="#FFFFFF"> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select14" class="widesel">
        <option selected>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select14" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#F6F6F6"> 
    <td>582</td>
    <td>10064<br> </td>
    <td> <a href="#">Анкета</a></td>
    <td><p> <a href="#">Посмотреть</a><br>
        3 товара </p></td>
    <td> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select14" class="widesel">
        <option>Нет</option>
        <option selected>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select14" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#FFFFFF">581</td>
    <td bgcolor="#FFFFFF">10038<br> </td>
    <td bgcolor="#FFFFFF"> <a href="#">Анкета</a></td>
    <td bgcolor="#FFFFFF"><p> <a href="#">Посмотреть</a><br>
        3 товара </p></td>
    <td bgcolor="#FFFFFF"> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select14" class="widesel">
        <option selected>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select14" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
</table>
<br>
<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#C6C6C6" class="tbl">
  <tr bgcolor="#DBDBDB"> 
    <td><strong>№ заказа</strong></td>
    <td><strong> № п-ля</strong></td>
    <td><strong>Инф. п-ля</strong></td>
    <td bgcolor="#DBDBDB"><strong>Перечень заказа</strong></td>
    <td><strong>Дата статуса</strong></td>
    <td><strong>Дата поставки</strong></td>
    <td><strong>Предоплата</strong></td>
    <td><strong>Ответ на заказ</strong></td>
    <td><strong>Статус карты</strong></td>
    <td><strong>Статус заказа</strong></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#FFFFFF"><strong><font color="#009966">585</font></strong></td>
    <td><strong><font color="#009966">2001</font></strong><br> </td>
    <td> <a href="#">Анкета</a></td>
    <td bgcolor="#FFFFFF"><p> <a href="#">Посмотреть</a><br>
        2 товара </p></td>
    <td> <a href="#">История дат</a> <br>
      21.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        0 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select15" class="widesel">
        <option>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option selected>Отдана</option>
      </select></td>
    <td><select name="select15" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#F6F6F6"> 
    <td>584</td>
    <td>10001<br> </td>
    <td> <a href="#">Анкета</a></td>
    <td><p> <a href="#">Посмотреть</a><br>
        3 товара </p></td>
    <td> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select15" class="widesel">
        <option selected>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select15" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#FFFFFF">583</td>
    <td bgcolor="#FFFFFF">10025<br> </td>
    <td bgcolor="#FFFFFF"> <a href="#">Анкета</a></td>
    <td bgcolor="#FFFFFF"><p> <a href="#">Посмотреть</a><br>
        3 товара </p></td>
    <td bgcolor="#FFFFFF"> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select15" class="widesel">
        <option selected>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select15" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#F6F6F6"> 
    <td>582</td>
    <td>10064<br> </td>
    <td> <a href="#">Анкета</a></td>
    <td><p> <a href="#">Посмотреть</a><br>
        3 товара </p></td>
    <td> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select15" class="widesel">
        <option>Нет</option>
        <option selected>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select15" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td bgcolor="#FFFFFF">581</td>
    <td bgcolor="#FFFFFF">10038<br> </td>
    <td bgcolor="#FFFFFF"> <a href="#">Анкета</a></td>
    <td bgcolor="#FFFFFF"><p> <a href="#">Посмотреть</a><br>
        3 товара </p></td>
    <td bgcolor="#FFFFFF"> <a href="#">История дат</a> <br>
      20.07.2006 | 18:20 </td>
    <td> <a href="#">Назначить</a></td>
    <td><p> <a href="#">Изменить</a><br>
        7000 руб. </p></td>
    <td><a href="#">Послать</a></td>
    <td><select name="select15" class="widesel">
        <option selected>Нет</option>
        <option>+ Запрос</option>
        <option>Назначена</option>
        <option>Отдана</option>
      </select></td>
    <td><select name="select15" class="widesel">
        <option>Новый</option>
        <option>Принятый</option>
        <option>Подтвержденный</option>
        <option>Собранный</option>
        <option>Оплаченный</option>
        <option>Закрытый</option>
        <option>Отказ</option>
      </select></td>
  </tr>
</table>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="tblup">
  <tr> 
    <td>Страницы: 1 - <a href="#">2</a></td>
    <td width="50"><a href="#">Обновить</a></td>
  </tr>
</table>
</body>
</html>
