
<form method="get" action="">
<div class="podbor">
			<table class="both">
			<tr>
			<td class="left6">
			<p><strong>Выберите марку автомобиля:</strong></p>
			<p>%cars%</p>
			</td>
			<td class="right4">
			<p><strong>Выберите группы интересующих Вас товаров: </strong></p>
			%categories%<br />  
			<input type="image" src="/images/choose.gif" alt="Подобрать" />
			</td>
			</tr>
			</table>

</div>
<div class="blokinfo"> 
  <p><strong>Теперь купить Аксессуары (4x4) стало очень просто:</strong></p>
<ul>
  <li>Выберете марку Вашего авто</li>
  <li>Отметьте галочками интересующие вас группы товаров</li>
  <li>Нажмите на кнопку "подобрать"</li>
</ul><br /><br /><br />

</div>

</form>