			
                              <form method="get" action="">
<div class="podbor">			
<table cellspacing="0" cellpadding="0" class="both">
  <tr>
    <td class="left6">
	<p><strong>Производитель:</strong></p>
%producers%<div align="center"><img src="/images/stev.jpg" alt="" width="308" height="90" /></div> 
	</td>
    <td class="right4">
    %categories%<br/>
  <input type="image" src="/images/choose.gif" alt="Подобрать" />
	</td>
  </tr>
</table>
</div>
</form>

<div class="blokinfo"> 
    <p><strong>Теперь купить аккумулятор стало очень просто:</strong></p>
<ul>
  <li>Отметьте галочками интересующих Вас производителей</li>
  <li>Отметьте галочками емкость аккумулятора, учитывая полярность Вашего автомобиля</li>
  <li>Нажмите на кнопку "подобрать"</li>
</ul>
<p><strong>Информация:</strong></p>
    
  <ul>
    <li>Стоимость доставки: 200 руб.</li>
    <li><a href="http://www.carumba.ru/main/reviews/3028">Все что нужно знать об аккумуляторных батареях (АКБ)</a></li>
  </ul>

</div>
