			
                              <form method="get" action="">
<div class="podbor">				<p>!!!!</p>
<table cellspacing="0" cellpadding="0" class="both">
  <tr>
    <td class="left6">
	<p><strong>Производитель:</strong></p>
%producers%
	</td>
    <td class="right4">
    %categories%<br/>
  <input type="image" src="/images/choose.gif" alt="Подобрать" />
	</td>
  </tr>
</table></div></form>

			
<div class="blokinfo"> 
  <p><strong>Теперь подобрать автозвук стало очень просто:</strong></p>
<ul>
  <li>Отметьте галочками интересующих Вас производителей</li>
  <li>Отметьте галочками интересующие Вас группы товаров</li>
  <li>Нажмите на кнопку "подобрать"</li>
</ul>
        <br>
        <br>
        <br>
</div>
