                              <form method="get" action="">
			<div class="podbor">
			
<table cellspacing="0" cellpadding="0" class="both">
  <tr>
    <td class="left6">
	<p><strong>Производитель:</strong></p>
%producers%
	</td>
    <td class="right4">
	
    %categories%<br/>
  <input type="image" src="/images/choose.gif" alt="Подобрать" />
	</td>
  </tr>
</table>
			</div>
<div class="blokinfo"> 
  <p><strong>Теперь купить автолампы стало очень просто:</strong></p>
<ul>
  <li>Отметьте галочками интересующих Вас производителей</li>
  <li>Отметьте галочками интересующие типы лампы</li>
  <li>Нажмите на кнопку "подобрать" </li>
</ul>
<p><strong>Полезная информация:</strong></p>
    <ul>
      <li><a href="http://www.carumba.ru/main/reviews/3539">Как подобрать ксенон 
        на автомобиль или все что нужно знать о HID-Xenon</a></li>
      <li><a href="http://www.carumba.ru/main/reviews/3029">Как увеличить яркость 
        фар?</a></a></li>
    </ul>

</div>
</form>