			
                              <form method="get" action="">
<div class="podbor">

<table class="baer" cellpadding="0" cellspacing="0">
  <tr>
    <td class="left"><a href="http://www.carumba.ru/search/?searchtext=Колонки Alpine"><img src="/images/sound2_left.jpg" width="525" alt="Колонки Alpine"></a></td>
    <td class="midsnd2">&nbsp;</td>
    <td class="right"><img src="/images/sound2_right.jpg" width="25"></td>
  </tr>
</table>

<table cellspacing="0" cellpadding="0" class="both">
  <tr>
    <td class="left6">
	<p><strong>Производитель:</strong></p>
%producers%
	</td>
    <td class="right4">
    %categories%<br/>
  <input type="image" src="/images/choose.gif" alt="Подобрать" />
	</td>
  </tr>
</table></div></form>

			
<div class="blokinfo"> 
  <p><strong>Теперь подобрать автозвук стало очень просто:</strong></p>
<ul>
  <li>Отметьте галочками интересующих Вас производителей</li>
  <li>Отметьте галочками интересующие Вас группы товаров</li>
  <li>Нажмите на кнопку "подобрать"</li>
</ul>
        <br>
        <br>
        <br>
</div>
