                              <form method="get" action="">
				<div class="podbor">
		
<table cellspacing="0" cellpadding="0" class="both">
  <tr>
    <td class="left6">
	<p><strong>Производитель:</strong></p>
%producers%
	</td>
    <td class="right4">
    %categories%<br/>
  <input type="image" src="/images/choose.gif" alt="Подобрать" />
	</td>
  </tr>
</table>
			</div>
<div class="blokinfo"> 
  <p><strong>Теперь подобрать GPS-навигатор стало очень просто:</strong></p>
    <ul>
      <li>Отметьте галочками интересующих Вас производителей</li>
      <li>Отметьте галочками интересующие GPS-навигаторы</li>
      <li>Нажмите на кнопку "подобрать"</li>
    </ul>
<p></p><p></p><p></p>
</div>
</form>
