                              <form method="get" action="">
			<div class="podbor">
<table class="baer" cellpadding="0" cellspacing="0">
  <tr>
    <td class="left"><a href="http://www.carumba.ru/search?searchtext=Castrol+Edge"><img src="/images/castrol_left.jpg" width="525" alt="Castrol Edge"></a></td>
    <td class="midcas">&nbsp;</td>
    <td class="right"><img src="/images/castrol_right.jpg" width="25"></td>
  </tr>
</table>

			
<table cellspacing="0" cellpadding="0" class="both">
  <tr>
    <td class="left6">
	<p><strong>Производитель:</strong></p>
%producers%
	</td>
    <td class="right4">
    %categories%<br/>
  <input type="image" src="/images/choose.gif" alt="Подобрать" />
	</td>
  </tr>
</table>
			</div>
<div class="blokinfo"> 
  <p><strong>Теперь подобрать масло стало очень просто:</strong></p>
<ul>
  <li>Отметьте галочками интересующих Вас производителей</li>
  <li>Отметьте галочками интересующие Вас вязкости масла, учитывая тип</li>
  <li>Нажмите на кнопку "подобрать" </li>
</ul>
<p><strong>Полезная информация:</strong></p>
    
    <ul>
      <li><a href="http://www.carumba.ru/main/reviews/1188">Что нужно знать о 
        трансмиссионных маслах в АКПП</a></li>
      <li><a href="http://www.carumba.ru/main/reviews/1948">Сколько хранится масло?</a></li>
    </ul>

</div>
</form>