                              <form method="get" action="">
				<div class="podbor">
		
<table cellspacing="0" cellpadding="0" class="both">
  <tr>
    <td class="left6">
	<p><strong>Производитель:</strong></p>
%producers%
	</td>
    <td class="right4">
    %categories%<br/>
  <input type="image" src="/images/choose.gif" alt="Подобрать" />
	</td>
  </tr>
</table>
			</div>
<div class="blokinfo"> 
  <p><strong>Теперь подобрать охранные системы стало очень просто:</strong></p>
    <ul>
      <li>Отметьте галочками интересующих Вас производителей</li>
      <li>Отметьте галочками интересующие Вас охранные системы</li>
      <li>Нажмите на кнопку "подобрать"</li>
    </ul>
    <p><strong>Полезная информация:</strong></p>
    <ul>
      <li> <a href="http://www.carumba.ru/main/reviews/4584">Не устанавливайте сигнализации 
        в СТО салона, не допускайте обмана с их стороны</a></li>
  </ul>

</div>
</form>
