   <form method="get" action="">
			<div class="podbor">
                           
			
<table cellspacing="0" cellpadding="0" class="both">
  <tr>
    <td class="left6">
	<p><strong>Производитель:</strong></p>
%producers%
	</td>
    <td class="right4">
    %categories%<br/>
  <input type="image" src="/images/choose.gif" alt="Подобрать" />
	</td>
  </tr>
</table>
			</div>
<div class="blokinfo"> 
  <p><strong>Теперь подобрать шины стало очень просто:</strong></p>
<ul>
  <li>Отметьте галочками интересующих Вас производителей</li>
  <li>Выберете нужный Вам диаметр шины</li>
  <li>Нажмите на кнопку "подобрать" </li>
</ul>
<p><strong>Информация:</strong></p>
    
  <ul>
    <li>Заказ колес осуществляется от 4 шт.</li>
    <li>Стоимость доставки: 200 руб.</li>
    <li><a href="http://www.carumba.ru/main/reviews/3027">Как правильно выбрать шины?</a></li>
  </ul>

</div>
</form>