    <td class="%columnStyle%"> <div class="inside">
        <div class="ditem">
          <div class="thumb"><a href="%link%">%picture%</a></div>
          <div class="descr">
            <div class="in"> <a href="%link%"><strong>%title%</strong></a><br />
                                      %producer%<br/>
              						  %props%
              						  %bonus%
              <div class="price">
                <div class="numb">%price%</div>

                <div class="buy">
                  <form action="/" method="post" style="margin: 0;"><div class="in"><input type="image" src="/images/buy.gif" alt="Купить" /><input type="hidden" name="module" value="Cart" /><input type="hidden" name="function" value="tocart" /><input type="hidden" name="goodID" value="%goodID%" /></div></form>
                </div>
              </div>
            </div>
          </div>
          <img src="/images/xit.gif" alt="" />
          %rating%
        </div>
      </div></td>
